<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.batch.name %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Farmer:</strong>
  <%= @order.batch.farmer.name %>
</p>

<%= link_to 'Back Home', '/' %> 
