<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @farmer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @zip %>
</p>

<br><br>
  <div>
    <h4>OPEN BATCHES</h4>
    <%@batches.each do |batch| %>
    <ul>
      <li>Name:<%=batch.name%></li>
      <li>Description:<%=batch.desc%></li>
      <li>Amount:<%=batch.amount%> kilos</li>
      <li>Price per kilo:$<%=batch.price%></li>
    </ul>
    <%= link_to "Buy #{batch.name}", new_order_url(:batch => batch.id, :customer => @customer.id)%><h4>
    <br>

    <%end%>
  </div>

  <div>
  </div>
