<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @farmer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farmer.location %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
